@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import './floating-labels.css';

*:focus {
    outline: none;
}

textarea, select, input {    
    font-family: 'Open Sans', sans-serif;
}
html {
    height: 100%;
    margin: -8px;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgba(103, 106, 108, 0.5);
}
body, #app {
    background-color: #f3f3f4;
}
#app, #main {
    min-height: 100vh;
}
#main {
    display: flex;
    overflow: hidden;
}
.multiselect__option::after {
    content: none !important;
}
.multiselect__option--highlight {
    background-color: rgba(73, 74, 75, 0.2) !important;
    color: inherit !important;
}
.secondary-timestamp {
    color: rgba(103, 106, 108, 0.5); 
    font-size: 10px; 
    text-wrap: nowrap;
}
#pa {
    width: 180px;
    justify-content: center;
    background-color: white;
    display: sticky;
    position: relative;
    top:0;
    left:0;
    overflow: hidden;
    box-shadow: 0 0 5px rgb(191, 191, 191);
}
.pbtrue {
    width: calc(100% - 180px);
}
.pbfalse {
    width: calc(100% - 60px);
}
.pa-icon {
    width: 12px;
    height: 12px;
    color: rgb(73, 74, 75) !important;
    transform: scale(1.5);
}
.top-nav-icons {
    width: 26px;
    height: 26px;
    color: rgb(73, 74, 75);
}
.top-nav-icons, 
.top-nav button {
    border: solid 1px #fff;
    background-color: #fff;
}

a, button {
    cursor: pointer;
}
.link-list {
    box-sizing: content-box;
    padding: 3px 6px;
    border-radius: 3px;
}


.dots {
    width: 13px;
    height: 13px;
    cursor: pointer;
}
.dots-img {
    width: 13px;
    height: 13px;
    color: black !important;
    visibility: hidden;
}
.dots-clicked {
    visibility: visible !important;
}

#app .button {
    border-radius: 4px;
    border: none;
}

#top-nav {
    height: 50px;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgb(191, 191, 191);
}
.top-nav-right {
    display: flex;
    flex-direction: row;
}
.logout {
    align-items: flex-end;
    display: inline;
}
.header button {
    border: solid 1px #fff;
    background-color: #fff;
}
#ham {
    filter: invert(0.2);
}

#app a {
    text-decoration: none;
    display: block;
    text-transform: capitalize;
}

/* pa links */
.link {
    color: rgb(103, 106, 108);
    font-weight: 500;
}
.link:hover {
    background-color: rgba(73, 74, 75, 0.2);
}
.router-link-active {
    background-color: rgba(73, 74, 75, 0.2);
    font-weight: 700;
}



/* table card */
.card {
    background-color: white;
    border: solid 1px #e7eaec;
    width: 100%;
    color: #676a6c;
    overflow-x: auto;
}

#app table, #app th, #app td {
    border-collapse: collapse;
    text-align: left;
    color: #676a6c;
}
#app table {
    width: 100%;
}
#app th, #app tr, #app td {
    padding: 12px;
}
.tr-th {
    display: flex;
    align-items: center;
}
.tr-th-rotated {
    transform: rotate(180deg);
}
.tr-th img{
    filter: invert(50%);
    display: none;
}
#app th:hover .tr-th img, #app .tr-th button:focus img {
    display: block;
}
.actions {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
}
.head-tr, .table-head, .table-actions {
    font-size: 14px;
}
.head-tr, .table-head, .table-actions, th, label {
    text-transform: capitalize;
}
.table-action {
    border: solid 1px white;
}

/* for hidden tr */
.tr-hidden input, .tr-hidden select, .tr-hidden textarea {
    background-color: inherit;
}
.tr.tr-hidden {
    padding: 0;
    border-top: 0;
    margin-bottom: 58px !important;
    border-left: solid 6px #e5e5e5;
} 
.tr-hidden .card {
    border: none;
    border: solid 15px #f5f5f5;
    width: calc(100% - 32px) !important;
}

.head-tr {
    border-bottom: solid 1px black;
}
.labels {
    align-self: center;
}
.tr {
    border-top: solid 1px #e7eaec;
    vertical-align: initial;
}
.table-actions {
    display: inline;
}


.sec-nav {
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec-nav > a {
    padding: 6px 24px;
    color:black;
}
.sec-nav > .router-link-active {
    color: blue;
    background-color: rgba(205, 234, 255, 0.498);
    border-radius: 6px;
}


.sorting-img {
    width: 13px;
    height: 13px !important;
}

/* forms */
#app form {
    height: 100%;
}
.fg-wrapper {
    display: flex;
    flex-basis: 50%;
}
.fg {
    width: 50%;
}
.row {
    vertical-align: initial;
    display: flex;
    padding: 6px 0;
}
input, select, textarea {
    width: 80%;
    box-sizing: border-box;
    display: block;
    padding:8px;
    border: solid 1px #e0e0e0;
    color: #676a6c;
}
input:disabled {
    cursor: not-allowed;
}
.vr {
    border-right: solid 1px #e7eaec;
    margin: 0 36px;
}
.c1 {
    width: 20%;
}

/* main-grid */
.main-grid {
    display: grid;
    grid-template-columns: 200px auto 200px;
}
.main-grid-content {
    width: 70%;
    height: 100%;
    margin : auto;
}

/*  */
.flex {
    display: flex;
}

/* buttons */
#app .button:disabled {
    background-color: grey !important;
    color: white !important;
}
#app .button {
    padding: 8px;
    text-transform: capitalize;
    border: solid 1px #e7eaec;
    cursor: pointer;
}
.green {
    background-color: rgb(27, 175, 131);
    color:white !important;
}
.green:hover, .green:focus {
    background-color: rgb(22, 152, 113);
}
.red {
    background-color: red;
    color: white;
}
.neutral {
    color: #676a6c;
    background-color: white;
}
.neutral:focus, .neutral:hover {
    border: solid 1px #d2d2d2;
}
.hide {
    display: none;
}

@media screen and (max-width: 1150px) and (min-width: 769px) {
    .list {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width : 769px) {
    .profile-flex {
        flex-direction: column;
    }
    #setting-i1, #setting-i2 {
        width: calc(100% - 24px) !important;
    }
    .list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    html, body {
        overflow-x: hidden;
    }
    .fg-wrapper {
        flex-direction: column;
    }
    .fg {
        width: 100%;
    }
    .vr {
        display: none;
    }
    .head-tr {
        display: none;
    }
    #menu-btn {
        display: none;
    }
    .dots-img {
        visibility: visible;
    }
    input.header {
        max-width: 50px;
        width: inherit;
    }
    .link span, .logo-container {
        display: none !important;
    }
    #pa {
        width: fit-content;
    }
    .lessWidth {
        display: none;
    }
    .pbfalse {
        width: 100%;
    }
    .pbtrue {
        width: calc(100% - 60px);
    }
    .flex-wd-options {
        flex-direction: column;
    }
    /* .date-picker {
        width: 80%;
    } */
    .table-pagination {
        width: 100%;
    }
    .table-pagination ul {
        padding-left: 8px;
    }
    form input~#remember-me, .role-name {
        width: 100% !important;
    }
    /* .mx-date-time-range {
        height: fit-content !important;
        width: fit-content !important;
    }
    .mx-datepicker-main {
        background-color: transparent !important;
        height: fit-content;
        width: fit-content;
    } */
    /* .mx-calendar-range div {
        background-color: #fff;
    } */
}
@media screen and (max-width : 426px) {
    .row {
        display: block;
    }
}

/* margins */
.m0 {
    margin: 0 !important;
}
.mt0 {
    margin-top: 0;
}
.mt8 {
    margin-top: 8px;
}
.mt12 {
    margin-top: 12px;
}
.mt16 {
    margin-top: 16px;
}
.mt32 {
    margin-top: 32px;
}
.mb0 {
    margin-bottom: 0;
}
.mb8 {
    margin-bottom: 8px;
}
.mb12 {
    margin-bottom: 12px;
}
.mb16 {
    margin-bottom: 16px;
}
.mr0 {
    margin-right: 0;
}
.mr8 {
    margin-right: 8px;
}
.mr16 {
    margin-right: 16px;
}
.mr24 {
    margin-right: 24px;
}
.mr32 {
    margin-right: 32px;
}
.ml0 {
    margin-left: 0;
}
.ml8 {
    margin-left: 8px;
}
.ml16 {
    margin-left: 16px;
}
.ml24 {
    margin-left: 24px;
}
/* paddings */
.p0 {
    padding: 0 !important;
}
.pt0 {
    padding-top: 0;
}
.pt8 {
    padding-top: 8px;
}
.pt16 {
    padding-top: 16px;
}
.pb0 {
    padding-bottom: 0;
}
.pb8 {
    padding-bottom: 8px;
}
.pb16 {
    padding-bottom: 16px;
}
.pr0 {
    padding-right: 0;
}
.pr8 {
    padding-right: 8px;
}
.pr12 {
    padding-right: 12px;
}
.pl12 {
    padding-left: 12px;
}
.pr16 {
    padding-right: 16px;
}
.pr24 {
    padding-right: 24px;
}
.pl24 {
    padding-left: 24px
}
.pt24 {
    padding-top: 24px;
}
.pb24 {
    padding-bottom: 24px;
}

.pl0 {
    padding-left: 0;
}
.pl8 {
    padding-left: 8px;
}
.pl16 {
    padding-left: 16px;
}

.p12 {
    padding: 12px;
}
.p6 {
    padding: 6px;
}
.pb32 {
    padding-bottom: 32px;
}
.p24 {
    padding: 24px;
}

#app h5 {
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
}

#app tr .child-row
{
    padding-left: 25px;
    margin-left: 20px;
    border-left: solid #ddd 3px;
    background-color: #f7f7f7;
}
.hidden-tr-parent {
    cursor: pointer;
}
/* 
    pa #141c3d -> #2F4050
    pa new #2F4050
    pa a:hover #293846
    pb general font color 676a6c
    border e7eaec
    body whitesmoke-> f3f3f4
    head-tr font color #676a6c
*/