.multiselect div, 
.multiselect span,
.multiselect li,
.multiselect input {
    font-size: 13px !important;
    font-family: 'Open Sans', sans-serif;
}
.multiselect__single {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #f3f3f4 !important;
    font-family: 'Open Sans', sans-serif;
    /* font-size: 13px; */
}
.multiselect__tags {
    color: #676a6c;
    padding-right: 10px !important; 
}
.sub-task-extra .multiselect__tags {
    border: none;
    border-bottom: solid 1px #e7eaec !important;
}
.multiselect__content-wrapper {
    border: solid 1px grey;
}
.multiselect__content li{
    border-bottom: solid 1px #e7eaec;
}
.multiselect {
    width: 80% !important;
}
.multiselect__single {
    background-color: inherit !important;
}