.task-status {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 6px;
}
.task-status .indicator,
.sub-task-status.indicator {
    width: 9px;
    height: 9px;
    border-radius: 5px;
    border: solid 1px #e0e0e0;
    cursor: pointer;
}

.task-status.InProgress .indicator {
    background-color: #c0c0c0;
}
.task-status.InProgress {
    color: #c0c0c0;
}

.task-status.Unbilled .indicator {
    background-color: #e74c3c !important;
}
.task-status.Unbilled {
    color: #e74c3c !important;
}

.task-status.Billed .indicator {
    background-color: #1abc9c !important;
}
.task-status.Billed {
    color: #1abc9c !important; 
}