.task-status, .sub-task-status {
    font-size: 12px !important;
    border: solid 1px rgba(120, 120, 120, 0.502) !important;
    padding: 4px 12px !important;
    border-radius: 8px !important;
    text-align: center !important;
}   
.Unbilled, .Cancel {
    border-color: rgba(255, 0, 0, 0.3) !important;
    color: red !important;
}
.Billed, .Done {
    border-color: rgba(0, 128, 0, 0.5) !important;
    color: green !important;
}